<html>
	<link rel="stylesheet" type="text/css" href="static/css/index.css">

	<head>
		<!-- TODO: implement head -->
	</head>

	<body>
		<h1> How well do you know these guns? </h1>
		<!-- TODO: implement body -->
		<div id="viewport">
			<ul class="stack" id="mainStack">
			</ul>
		</div>
	</body>
	
	<script src="http://gajus.com/sandbox/swing/dist/swing.js"></script>
	<script src="http://gajus.com/sandbox/swing/examples/card-stack/classList.js"></script>
	<script src="static/js/guns.js"></script>
	<script src="static/js/main.js"></script>
</html>